<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>key_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{64,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,29}}</string>
                <key>sourceSize</key>
                <string>{64,29}</string>
            </dict>
            <key>key_direction.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>key_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,120},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>key_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,180},{26,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,64}}</string>
                <key>sourceSize</key>
                <string>{26,64}</string>
            </dict>
            <key>key_leftbottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,170},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>key_leftup.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,170},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>key_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{26,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,64}}</string>
                <key>sourceSize</key>
                <string>{26,64}</string>
            </dict>
            <key>key_rightbottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,170},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>key_rightup.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,170},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>key_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{64,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,27}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>keydown.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd883f30653b1a2f1a3842c47098d4fc$</string>
            <key>textureFileName</key>
            <string>keydown.png</string>
        </dict>
    </dict>
</plist>
